@use "sass:color"
@use "iglu/font-size"
@use "iglu/spacing"
@use "formatic/settings/colors"
@use "formatic/tools/terminal"
@use "formatic/tools/mandatory"

.c-formatic-date

  &__inputs
    display: grid
    grid-auto-flow: column
    grid-gap: 0.5em
    +spacing.margin-bottom--small

  &__select
    .c-formatic-wrapper.is-required &
      +mandatory.indicator

  &__calendar
    display: flex
    // See https://kevinyank.com/posts/horizontal-scrolling/
    overflow-x: scroll
    overflow-y: hidden
    scrollbar-width: none
    -ms-overflow-style: none
    ::-webkit-scrollbar
      display: none

  &__flick
    background-color: color.adjust(#000, $lightness: 96%)
    text-align: center
    text-decoration: none
    display: flex
    flex-direction: column
    justify-content: center
    color: colors.$black
    +spacing.margin-right--smaller
    +spacing.padding-tiny

  &__clear
    +font-size.large
    +spacing.padding-small

  &__calendar-day-number
    +font-size.default
    +terminal.font

  &__calendar-month
    text-transform: uppercase
    +font-size.smaller

  &__calendar-year
    opacity: 0.4
    +terminal.font
    +font-size.smaller

  & .is-saturday
    background-color: color.adjust(#000, $lightness: 70%)

  & .is-sunday
    background-color: color.adjust(#000, $lightness: 50%)
    color: colors.$white

  & .is-holiday
    color: colors.$paradise-pink

  & .is-today
    border: 3px solid colors.$black
    font-weight: bold
