<p>Start</p>

<%= form_for(HouseModel.new, url: '#') do |f| %>
  <%= render Formatic::String.new(f:, attribute_name: :floors) %>
  <%# <%= render Formatic::Toggle.new(f:, attribute_name: :floors) %>
<% end %>

<p>Finish</p>
