@keyframes formatic-flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
.c-formatic-wrapper {
  display: grid;
  grid-row-gap: 0.2rem;
  grid-template-columns: auto;
  grid-template-areas: "label" "input" "error" "hint";
}
.c-formatic-wrapper {
  font-size: 1rem;
}
.c-formatic-wrapper {
  margin-bottom: 1.1429rem;
}
.c-formatic-wrapper--hint-before-input {
  grid-template-areas: "label" "hint" "input" "error";
}
.c-formatic-wrapper__label {
  grid-area: label;
}
.c-formatic-wrapper__input {
  grid-area: input;
}
.c-formatic-wrapper__error {
  grid-area: error;
}
.c-formatic-wrapper__hint {
  grid-area: hint;
}
.c-formatic-wrapper__address {
  grid-area: address;
}
.c-formatic-wrapper__input {
  min-width: 1px;
}
.c-formatic-wrapper__error {
  color: rgb(240, 30, 80);
}
.c-formatic-wrapper__error i {
  display: inline-block;
  height: 1em;
  width: 1em;
  animation: formatic-flip 4s infinite;
  background-size: 1em 1em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 220.885l368.256 675.115h-736.512l368.256-675.115zM512 42.667l-512 938.667h1024l-512-938.667zM469.333 426.667h85.333v256h-85.333v-256zM512 842.667c-29.397 0-53.333-23.893-53.333-53.333s23.936-53.333 53.333-53.333 53.333 23.893 53.333 53.333-23.936 53.333-53.333 53.333z" style="fill: rgb(240, 30, 80)"></path></svg>');
}
.c-formatic-wrapper__hint {
  opacity: 0.5;
}
.c-formatic-wrapper__hint {
  margin-bottom: 0.2857rem;
}
.c-formatic-wrapper__hint {
  font-size: 0.7857rem;
}
.c-formatic-wrapper__prevent-submit-on-enter {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

@container (min-width: 768px) {
  .c-formatic-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 1rem;
    grid-template-areas: "label input" "hint input" "error input";
  }
}
.c-formatic-checklist {
  display: grid;
  grid-row-gap: 0.4em;
}

.c-formatic-date__inputs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}
.c-formatic-date__inputs {
  margin-bottom: 0.8571rem;
}
.c-formatic-wrapper.is-required .c-formatic-date__select {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}
.c-formatic-date__calendar {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.c-formatic-date__calendar ::-webkit-scrollbar {
  display: none;
}
.c-formatic-date__flick {
  background-color: rgb(244.8, 244.8, 244.8);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
}
.c-formatic-date__flick {
  margin-right: 0.5714rem;
}
.c-formatic-date__flick {
  padding: 0.2857rem;
}
.c-formatic-date__clear {
  font-size: 1.0714rem;
}
.c-formatic-date__clear {
  padding: 0.8571rem;
}
.c-formatic-date__calendar-day-number {
  font-size: 1rem;
}
.c-formatic-date__calendar-day-number {
  font-family: Inconsolata, "Roboto Mono", "Source Code Pro", "SF Mono", Monaco, "Fira Mono", "Droid Sans Mono", monospace !important;
}
.c-formatic-date__calendar-month {
  text-transform: uppercase;
}
.c-formatic-date__calendar-month {
  font-size: 0.7857rem;
}
.c-formatic-date__calendar-year {
  opacity: 0.4;
}
.c-formatic-date__calendar-year {
  font-family: Inconsolata, "Roboto Mono", "Source Code Pro", "SF Mono", Monaco, "Fira Mono", "Droid Sans Mono", monospace !important;
}
.c-formatic-date__calendar-year {
  font-size: 0.7857rem;
}
.c-formatic-date .is-saturday {
  background-color: rgb(178.5, 178.5, 178.5);
}
.c-formatic-date .is-sunday {
  background-color: rgb(127.5, 127.5, 127.5);
  color: #fff;
}
.c-formatic-date .is-holiday {
  color: rgb(240, 30, 80);
}
.c-formatic-date .is-today {
  border: 3px solid #222;
  font-weight: bold;
}

.c-formatic-wrapper.is-required .c-formatic-select {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}
.c-formatic-select.is-loading, .c-formatic-select.is-saved, .c-formatic-select.is-failed {
  background-position: right 0.29rem bottom 0.29rem;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.c-formatic-select.is-loading {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgba(139, 139, 139, 0.243)"></path></svg>');
}
.c-formatic-select.is-saved {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(0, 163, 0)"></path></svg>');
}
.c-formatic-select.is-failed {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(185, 1, 1)"></path></svg>');
  background-color: red;
}

.c-formatic-stepper {
  display: grid;
  align-items: stretch;
  justify-content: left;
  grid-auto-flow: column;
}
.c-formatic-stepper__step {
  display: inline-block;
  border: 1px solid rgb(197.5, 197.5, 197.5);
  vertical-align: middle;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3em;
  color: #222;
  text-decoration: none;
}
.c-formatic-stepper__step {
  font-size: 1.4286rem;
}
.c-formatic-stepper__number {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Roboto Condensed";
  width: 7em;
  height: 100%;
  outline-offset: 0;
  color: #222;
  text-align: center;
  vertical-align: middle;
  border: 0;
}
.c-formatic-stepper__number {
  font-size: 1.0714rem;
}
.c-formatic-stepper__number {
  margin-bottom: 0.8571rem;
}
.c-formatic-stepper ::placeholder {
  color: rgb(197.5, 197.5, 197.5);
}

.c-formatic-string__input.is-terminal {
  font-family: Inconsolata, "Roboto Mono", "Source Code Pro", "SF Mono", Monaco, "Fira Mono", "Droid Sans Mono", monospace !important;
}
.c-formatic-string__input.is-loading, .c-formatic-string__input.is-saved, .c-formatic-string__input.is-failed {
  background-position: right 0.29rem bottom 0.29rem;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.c-formatic-string__input.is-loading {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgba(139, 139, 139, 0.243)"></path></svg>');
}
.c-formatic-string__input.is-saved {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(0, 163, 0)"></path></svg>');
}
.c-formatic-string__input.is-failed {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(185, 1, 1)"></path></svg>');
  background-color: red;
}
.c-formatic-wrapper.is-required .c-formatic-string__input {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}

.c-formatic-textarea__input.is-loading, .c-formatic-textarea__input.is-saved, .c-formatic-textarea__input.is-failed {
  background-position: right 0.29rem bottom 0.29rem;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.c-formatic-textarea__input.is-loading {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgba(139, 139, 139, 0.243)"></path></svg>');
}
.c-formatic-textarea__input.is-saved {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(0, 163, 0)"></path></svg>');
}
.c-formatic-textarea__input.is-failed {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024" viewBox="0 0 1024 1024"><path d="M512 213.333c147.328 0 251.349 119.339 237.525 289.28 74.453-1.963 189.141 32.043 189.141 158.72 0 82.347-66.987 149.333-149.333 149.333h-554.667c-82.347 0-149.333-66.987-149.333-149.333 0-119.339 105.771-163.541 189.141-158.72-7.125-179.968 94.208-289.28 237.525-289.28zM512 128c-170.923 0-310.059 134.016-319.104 302.592-109.653 19.755-192.896 115.456-192.896 230.741 0 129.579 105.088 234.667 234.667 234.667h554.667c129.579 0 234.667-105.088 234.667-234.667 0-115.285-83.243-210.987-192.896-230.741-9.045-168.576-148.181-302.592-319.104-302.592zM682.667 554.667h-128v170.667h-85.333v-170.667h-128l170.667-170.667 170.667 170.667z" style="fill: rgb(185, 1, 1)"></path></svg>');
  background-color: red;
}
.c-formatic-wrapper.is-required .c-formatic-textarea__input {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}

.c-formatic-time__inputs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}
.c-formatic-time__inputs {
  margin-bottom: 0.8571rem;
}
.c-formatic-wrapper.is-required .c-formatic-time__select {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}

.c-formatic-toggle {
  display: grid;
  height: 100%;
  align-content: center;
}
.c-formatic-toggle {
  font-size: 1rem;
}
.c-formatic-toggle label {
  display: inline-grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "switch caption" "status status";
}
.c-formatic-toggle label small {
  opacity: 0.5;
}
.c-formatic-toggle label small {
  font-size: 0.9286rem;
}
.c-formatic-toggle i {
  grid-area: switch;
  display: inline-block;
  width: 2.8em;
  height: 1.5em;
  border-radius: 1.5em;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  background: rgb(197.5, 197.5, 197.5);
}
.c-formatic-toggle i:before {
  display: block;
  position: absolute;
  content: "";
  top: 0.1em;
  left: 0.1em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.1s;
}
.c-formatic-toggle input {
  position: absolute;
  visibility: hidden;
}
.c-formatic-toggle input:checked + i {
  background-color: rgb(0, 190, 130);
}
.c-formatic-toggle input:checked + i.is-alert {
  background-color: rgb(240, 30, 80);
}
.c-formatic-toggle input:checked + i:before {
  left: 1.4em;
  background-color: #fff;
}
.c-formatic-toggle input:not(:checked) ~ .is-active {
  display: none;
}
.c-formatic-toggle input:checked ~ .is-active {
  display: block;
}
.c-formatic-toggle input:not(:checked) ~ .is-inactive {
  display: block;
}
.c-formatic-toggle input:checked ~ .is-inactive {
  display: none;
}
.c-formatic-toggle span {
  grid-area: caption;
  margin-left: 0.5em;
  position: relative;
  top: 2px;
}
.c-formatic-toggle .is-inactive,
.c-formatic-toggle .is-active {
  grid-area: status;
  margin-top: 0.5em;
  color: rgb(70, 70, 70);
}
.c-formatic-toggle .is-inactive,
.c-formatic-toggle .is-active {
  font-size: 0.7857rem;
}
.c-formatic-toggle__label-caption-dummy {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.u-formatic-container {
  container-type: inline-size;
}

.s-formatic input[type=email],
.s-formatic input[type=number],
.s-formatic input[type=password],
.s-formatic input[type=search],
.s-formatic input[type=tel],
.s-formatic input[type=text],
.s-formatic input[type=url],
.s-formatic textarea,
.s-formatic select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Roboto Condensed";
  width: 100%;
  outline-offset: 0;
  outline-color: #ffd400;
  border: 1px solid rgb(197.5, 197.5, 197.5);
  color: #222;
  height: 2em;
  padding-top: 0.2em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset;
  box-sizing: border-box;
}
.s-formatic input[type=email],
.s-formatic input[type=number],
.s-formatic input[type=password],
.s-formatic input[type=search],
.s-formatic input[type=tel],
.s-formatic input[type=text],
.s-formatic input[type=url],
.s-formatic textarea,
.s-formatic select {
  font-size: 1rem;
}
.formatic-wrapper.is-required .s-formatic input[type=email],
.formatic-wrapper.is-required .s-formatic input[type=number],
.formatic-wrapper.is-required .s-formatic input[type=password],
.formatic-wrapper.is-required .s-formatic input[type=search],
.formatic-wrapper.is-required .s-formatic input[type=tel],
.formatic-wrapper.is-required .s-formatic input[type=text],
.formatic-wrapper.is-required .s-formatic input[type=url],
.formatic-wrapper.is-required .s-formatic textarea,
.formatic-wrapper.is-required .s-formatic select {
  border-left-color: rgb(240, 30, 80);
  border-left-width: 2px;
}
.s-formatic textarea {
  min-height: 7em;
}
.s-formatic select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  box-shadow: none;
}
.s-formatic ::placeholder {
  color: rgb(197.5, 197.5, 197.5);
}

@media (prefers-color-scheme: dark) {
  .s-formatic input[type=email],
  .s-formatic input[type=number],
  .s-formatic input[type=password],
  .s-formatic input[type=search],
  .s-formatic input[type=tel],
  .s-formatic input[type=text],
  .s-formatic input[type=url],
  .s-formatic textarea,
  .s-formatic select,
  .s-formatic textarea {
    background-color: #222;
    color: #fff;
  }
  .s-formatic select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(255, 255, 255)"></polygon></svg>');
  }
}
body {
  background-color: pink;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
  }
}

/*# sourceMappingURL=application.css.map */
