name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby 3.4.5

    steps:
    - uses: actions/checkout@v5

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.5'
        bundler-cache: true

    - run: bundle exec megatest
    - run: bundle exec rubocop
